<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="body">
    <header>
      <nav>
        <span class="logo"><a href="#">DINERO FILA</a></span>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nuestros Productos</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div>
        Hola
      </div>
      <div>
        Somos
      </div>
      <div>
        Dinero
      </div>
      <div>
        Fila
      </div>
    </section>
    <footer>
      <p>© Copyright</p>
    </footer>
  </body>
</html>
