*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #233E8B;
    --verde: #1EAE98;
    --verdeAgua: #A9F1DF;
    --amarillo: #FFFFC7;
    --negro: #2B2B28;
    --blanco: #FDFEFE;
}

@font-face {
    font-family: "Varino";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Varino.ttf");
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

ul, li, ol, a{
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
}