header{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
}

.body ul, li{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

a:visited{
    color: aqua;
}