<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DINERO FILA</title>
  <link rel="shortcut icon" href="/images/dineroFilaLogo.jpg">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <script src="/javascripts/header.js"></script>
</head>

<body class="index">
  <header class="header" id="header">
    <nav>
      <span class="logo-mobile"><a class="name-mobile" href="/">DINERO FILA</a></span>
      <button type="button" class="burger-menu" id="burguer-menu">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <nav class="nav2" id="nav2">
      <ul class="lista-menu">
        <li><a class="inicio" href="#section1">Inicio</a></li>
        <li><a class="about-us" href="#section2">Sobre Nosotros</a></li>
        <li><a class="our-services" href="#section3">Nuestros Servicios</a></li>
        <li><a class="buy" href="#section4">Comprar</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <div class="section1" id="section1">
      <img src="/images/fotoCalvin1.jpeg" alt="Inicio">
      <h1 class="image-text">DALE FORMA A TU FUTURO CON LOS NEGOCIOS DIGITALES Y CAMBIA TU VIDA</h1>
    </div>
    <div class="section2" id="section2">
      <h2 class="us">¿Quiénes somos?</h2>
      <img class="section2img" src="/images/fotoCalvin2.jpeg" alt="Mid">
      <div class="about">
        <p>
          Somos una empresa de <b>Marketing Digital</b> integrada por un grupo de emprendedores jóvenes dispuestos a
          llevarte por el camino correcto y ayudarte a cumplir tus metas y conseguir el éxito. <b>Nuestro método</b> se
          centra en capacitar a las personas mediante conocimientos específicos. <b>Nuestro objetivo</b>, como empresa
          de marketing, involucra un <b>servicio completo</b> orientado estrategicamente para que puedas lograr obtener
          las mejores estrategias únicas y creativas que produzcan <b>resultados efectivos</b>, generando ingresos
          diarios desde la comodidad del hogar y cambiando tu realidad económica radicalmente. Nacimos del ferviente
          deseo de brindar a las personas que se quieren adentrar a los negocios digitales, el servicio creativo de
          calidad que necesitan para mantenerse a la vanguardia; y no descansaremos hasta lograr dichos resultados.
        </p>
      </div>
    </div>
    <div class="caja-grande">
      <h2 class="nuestros-servicios" id="section3">Nuestros Servicios</h2>
      <!-- <div class="graphic-designer">
        <img class="img-dg" src="/images/diseñadores-graficos.jpg" alt="graphic designers">
          <h4 class="texto-dg">Diseñadores Gráficos</h4>
        </div> -->
      <div class="video">
        <iframe src="https://www.youtube.com/embed/ScpTeRLNuro" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="p-video">Ofrecemos la oportunidad para que trabajes desde la comodidad de tu hogar, con tus propios
          días, horarios y sin jefes. Y la ventaja fundamental, GENERAR INGRESOS SIN LIMITES.</p>
      </div>
        <div class="planificamos-aplicamos">
          <img class="img-planificamos" src="/images/nos-reunimos-planificamos-aplicamos.jpg"
            alt="planificamos y aplicamos">
          <h4 class="texto-planificamos">Nos reunimos, planificamos y aplicamos</h4>
        </div>

        <div class="tomamos-accion">
          <img class="img-accion" src="/images/tomamos-acción.jpg" alt="tomamos accion">
          <h4 class="texto-accion">Tomamos Acción</h4>
        </div>
    </div>
    <h2 class="beneficios-title">BENEFICIOS</h2>
    <div class="beneficios">
      <ul class="ul-beneficios">
        <li class="beneficio1">Generar ingresos desde la comodidad del hogar</li>
        <li class="beneficio2">Tenés tu propia organización, días y horarios, sin depender de un jefe</li>
        <li class="beneficio3">Vender sin límites de ingresos</li>
        <li class="beneficio4">Generar ingresos domingos y feriados</li>
        <li class="beneficio5">Capacitaciones constantes por semana</li>
        <li class="beneficio6">No necesitás experiencia previa, ya que te brindamos todo lo que necesitás saber</li>
      </ul>
    </div>

    <h1 class="titulo-membresias" id="section4">Adquirí Nuestras Membresías</h1>
    <section class="caja-comprar">
      <div class="comprar">
        <img class="img-gold" src="/images/gold-icon.jpg" alt="gold">
        <div class="gold-price">
          <div class="price">$8000</div>
          <div class="discount">$4000</div>
        </div>
        <button class="gold-btn">
          <a class="gold-link" href="https://mpago.la/1kuEDgG">Comprar</a>
        </button>
      </div>
      <div class="comprar">
        <img class="img-plat" src="/images/platinum-icon.jpg" alt="platinum">
        <div class="plat-price">
          <div class="price">$10000</div>
          <div class="discount">$5000</div>
        </div>
        <button class="platinum-btn">
          <a class="platinum-link" href="https://mpago.la/1y9adrV">Comprar</a>
        </button>
    </section>
      <div class="aviso">
        <h4 class="importante">
          IMPORTANTE
        </h4>
        <p class="h4-p">
          Cuando realices el pago, tenés que enviar el comprobante de pago al siguiente <a class="wapp-p"
            href="https://api.whatsapp.com/send?phone=+541164350477">WhatsApp</a> para recibir el acceso a la
          plataforma, cursos y capacitaciones.
        </p>
      </div>

    </div>
  </section>
    <a class="wapp" href="https://api.whatsapp.com/send?phone=+541164350477">
      <img class="wapp-img" src="/images/wapp-icon.png" alt="wapp icon">
    </a>
  <footer class="footer">
    <div class="div-footer">
      <h4 class="contactanos">Contactanos</h4>
      <a class="ig-link" href="https://www.instagram.com/dinerofila/">Instagram</a>
      <a class="yt-link" href="https://www.youtube.com/channel/UCS800Y919_rF7RphKxkjTYg">Youtube</a>
      <a class="fb-link" href="https://www.facebook.com/DineroFila17">Facebook</a>
    </div>
    <p class="copyright">Dinero Fila © 2021</p>
  </footer>
</body>

</html>